.contact-us h3 {
  margin-bottom: 1.5rem;
}
.contact-us label {
  font-size: 0.9rem;
  text-align: left;
}
.contact-us input,
.contact-us textarea {
  width: 100%;
  color: var(--lighter);
  background: var(--lightTransparence);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
}
.contact-us input:focus,
.contact-us textarea:focus {
  outline: none;
}
.contact-us input[type='submit'] {
  background: var(--primary);
  font-weight: bold;
}
