/* Custom Style */
nav {
  color: var(--light);
  padding: 0 1rem;
}
.topnav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  padding: 0 2rem;
  overflow: hidden;
  text-transform: uppercase;
}
.topnav .menu {
  text-transform: capitalize;
}
.nav-item {
  cursor: pointer;
  background: none;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-family: "News Cycle", sans-serif;
  padding: 1rem;
}
.nav-item:hover {
  color: var(--primary);
}
.nav-item:focus {
  outline: none;
}
.topnav .menu .nav-item:visited {
  color: inherit;
}
.topnav .logo {
  float: left;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.9rem;
}
.topnav .logo span {
  color: var(--primary);
}
.topnav .navBtn {
  display: none;
}
.topnav .navBtn:hover {
  background: none;
  color: var(--primary);
}
.topnav .active {
  color: var(--primary);
}

/* Screen styles */
@media screen and (max-width: 768px) {
  .topnav {
    padding-top: 0.5rem;
  }
  .topnav .logo {
    text-align: center;
    padding: 0.7rem;
    float: none;
  }
  .topnav .navBtn {
    display: block;
    position: absolute;
    right: 0;
    top: 0.35rem;
    padding: 0.9rem;
  }
  .topnav .menu .nav-item:hover {
    border: none;
  }
  .responsive .menu .nav-item {
    float: none;
    display: block;
    text-align: left;
  }
  .responsive {
    height: auto;
    z-index: 2;
  }
  .responsive .menu {
    float: none;
  }
  .responsive .active {
    border: none;
    background: var(--lightTransparence);
    color: var(--primary);
  }
}
